<!DOCTYPE html>
<html>
  <head>
    <title>Hoppd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.brklynTapURL = "<%= image_url('brklyn_tap.jpg')  %>"
      window.utLogoBottlesURL = "<%= image_url('ut_logo_bottles.svg')  %>"
      window.cellphoneImageURL = "<%= image_url('cellphone_image.png')  %>"
      window.userIconURL = "<%= image_url('user.png')  %>"
      window.checkIconURL = "<%= image_url('star.png') %>"
      window.plusIconURL = "<%= image_url('bookmark.png') %>"
      window.pencilIconURL = "<%= image_url('edit.png') %>"
      window.deleteIconURL = "<%= image_url('plus.png') %>"
      window.searchIconURL = "<%= image_url('mag-glass.png') %>"
      window.capIconURL = "<%= image_url('cap.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
